@media (max-width: 1080px) {
  .banner-section {
    .swiper-container {
      .swiper-wrapper {
        .swiper-one {
          .swiper-img {
            img {
              width: 300px !important;
              height: 100% !important;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .main-section {
      width: 100% !important;
    }
  }

  .banner-section {
    height: 550px !important;
    .swiper-container {
      .swiper-wrapper {
        .swiper-one {
          display: flex !important;
          flex-direction: column-reverse !important;
          .swiper-img {
            img {
              width: 100% !important;
              height: 100% !important;
              object-fit: contain;
            }
          }
          .swiper-text {
            text-align: center;
            h1 {
              font-size: 20px !important;
            }
            button {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .micro-response-section {
    background: #e6e6e6;
    margin-top: 50px;
    .micro-response-text {
      h1 {
        font-size: 20px !important;
      }
      p {
        font-size: 15px;
      }
    }
  }

  .swiper-button-prev , .swiper-button-next{
      display: none !important;
  }

}
