* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

@media (max-width: 1080px) {
  .banner-section .swiper-container .swiper-wrapper .swiper-one .swiper-img img {
    width: 300px !important;
    height: 100% !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 768px) {
  main .main-section {
    width: 100% !important;
  }
  .banner-section {
    height: 550px !important;
  }
  .banner-section .swiper-container .swiper-wrapper .swiper-one {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .banner-section .swiper-container .swiper-wrapper .swiper-one .swiper-img img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .banner-section .swiper-container .swiper-wrapper .swiper-one .swiper-text {
    text-align: center;
  }
  .banner-section .swiper-container .swiper-wrapper .swiper-one .swiper-text h1 {
    font-size: 20px !important;
  }
  .banner-section .swiper-container .swiper-wrapper .swiper-one .swiper-text button {
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .micro-response-section {
    background: #e6e6e6;
    margin-top: 50px;
  }
  .micro-response-section .micro-response-text h1 {
    font-size: 20px !important;
  }
  .micro-response-section .micro-response-text p {
    font-size: 15px;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }
}

main {
  width: 100%;
  height: 100vh;
}

main .main-section {
  width: 90%;
}

main .main-section .header-section {
  height: 60px;
}

main .main-section .header-section nav ul li {
  color: #262626;
  font-size: 13px;
  margin: 0 10px;
  cursor: pointer;
}

main .main-section .header-section .aside-nav nav i {
  margin-left: 5px;
  font-size: 14px;
}

main .main-section .banner-section {
  width: 100%;
  height: 500px;
}

main .main-section .banner-section .swiper-container {
  width: 100%;
  height: 100%;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(1) {
  background: #e8e8e8;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(1) .swiper-text h1 {
  font-size: 34px;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(1) .swiper-text p {
  font-size: 15px;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(1) .swiper-text button {
  padding: 10px 25px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(1) .swiper-img img {
  width: auto;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(2) {
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWG8j8?ver=2748&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=282&s=3000&d=1125&aim=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(2) .swiper-text {
  margin-top: 4rem;
  margin-left: 5rem;
  width: 100%;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(2) .swiper-text h1 {
  font-size: 34px;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(2) .swiper-text p {
  font-size: 15px;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(2) .swiper-text button {
  padding: 10px 25px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(3) .swiper-img {
  height: 40%;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(3) .swiper-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(3) .swiper-text {
  background: #e8e8e8;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(3) .swiper-text h1 {
  font-size: 20px;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(3) .swiper-text p {
  margin-top: 5px;
}

main .main-section .banner-section .swiper-container .swiper-slide:nth-child(3) .swiper-text button {
  margin-top: 20px;
  padding: 10px 25px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

main .main-section .banner-section .swiper-container .swiper-button-prev,
main .main-section .banner-section .swiper-container .swiper-button-next {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

main .main-section .banner-section .swiper-container .swiper-button-prev:hover,
main .main-section .banner-section .swiper-container .swiper-button-next:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

main .main-section .banner-section .swiper-container .swiper-button-prev::after,
main .main-section .banner-section .swiper-container .swiper-button-next::after {
  font-size: 15px;
  color: #000;
}

main .main-section .banner-section .swiper-container:hover .swiper-button-prev,
main .main-section .banner-section .swiper-container:hover .swiper-button-next {
  opacity: 1;
}

main .main-section .cards-section .card {
  border: none;
  width: 310px;
  cursor: pointer;
}

main .main-section .cards-section .card img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .main-section .cards-section .card a {
  text-decoration: none;
  color: #0067b8;
}

main .main-section .cards-section .card a label {
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

main .main-section .cards-section .card a label::after {
  content: "";
  position: absolute;
  border: none;
  border-bottom: 3px solid #0067b8;
  bottom: -5px;
  left: 0;
  height: 5px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

main .main-section .cards-section .card a label:hover::after {
  opacity: 1;
}

main .main-section .cards-section .card a label:hover {
  padding-right: 5px;
}

main .main-section .banner-two-section {
  margin-top: 50px;
  height: 500px;
  width: 100%;
  background: #f2f2f2;
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWAn3f?ver=86c9&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=279&s=3000&d=1125&aim=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main .main-section .banner-two-section .banner-two-text {
  margin-left: 5rem;
}

main .main-section .banner-two-section .banner-two-text h1 {
  font-size: 34px;
}

main .main-section .banner-two-section .banner-two-text p {
  font-size: 15px;
}

main .main-section .banner-two-section .banner-two-text button {
  width: 130px;
  padding: 10px 10px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

main .main-section .banner-two-section .banner-two-text button label {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

main .main-section .banner-two-section .banner-two-text button label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 0;
}

main .main-section .banner-two-section .banner-two-text button label:hover::after {
  opacity: 1;
}

main .main-section .banner-two-section .banner-two-text button:hover label {
  margin-right: 8px;
}

main .main-section .banner-two-section .banner-two-text button:hover::after {
  opacity: 1;
}

main .main-section .banner-two {
  height: 600px;
  padding: 50px 0;
}

main .main-section .banner-two .imgg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .main-section .banner-two .banner-two-text {
  background: #e8e8e8;
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-section .banner-two .banner-two-text h1 {
  font-size: 20px;
}

main .main-section .banner-two .banner-two-text p {
  font-size: 15px;
  padding: 10px 0;
}

main .main-section .banner-two .banner-two-text button {
  width: 130px;
  padding: 10px 10px;
  background: #000;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

main .main-section .banner-two .banner-two-text button label {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

main .main-section .banner-two .banner-two-text button label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 0;
}

main .main-section .banner-two .banner-two-text button label:hover::after {
  opacity: 1;
}

main .main-section .banner-two .banner-two-text button:hover label {
  margin-right: 8px;
}

main .main-section .banner-two .banner-two-text button:hover::after {
  opacity: 1;
}

main .main-section .micro-response-section {
  background: #e6e6e6;
  margin-top: 50px;
}

main .main-section .micro-response-section .micro-response-text h1 {
  font-size: 34px;
}

main .main-section .micro-response-section .micro-response-text p {
  font-size: 15px;
}

main .main-section .micro-response-section .micro-response-text a {
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

main .main-section .micro-response-section .micro-response-text a label {
  position: relative;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

main .main-section .micro-response-section .micro-response-text a label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
  opacity: 0;
  cursor: pointer;
}

main .main-section .micro-response-section .micro-response-text a label:hover::after {
  opacity: 1;
}

main .main-section .micro-response-section .micro-response-text a label:hover {
  margin-right: 5px;
}

main .main-section .social-icons-section ul li:nth-child(2) svg {
  fill: #3b5499;
}

main .main-section .social-icons-section ul li:nth-child(3) svg {
  fill: #8a3ab9;
}

main .main-section .social-icons-section ul li:nth-child(4) svg {
  fill: #4c9ad6;
}

main footer {
  background: #f2f2f2;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

main footer .footer-inner {
  width: 90%;
}

main footer .footer-inner .col-lg-2 {
  margin: 0;
  padding: 0;
}

main footer .footer-inner .col-lg-2 h6 {
  color: #616161;
  font-size: 15px;
}

main footer .footer-inner .col-lg-2 ul li {
  font-size: 11px;
  padding: 10px 0;
}

main footer .footer-inner .lower-text {
  margin: 0;
  padding: 0;
}

main footer .footer-inner .lower-text label {
  margin-left: 10px;
  font-size: 14px;
  padding: 10px 0;
}

main footer .footer-inner .lower-text h6 {
  color: #616161;
  font-size: 15px;
}

main footer .footer-inner .lower-text ul li {
  font-size: 11px;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */