* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

@mixin d-flex($justify-c) {
  display: flex;
  justify-content: $justify-c;
  align-items: center;
}

@import "mediaQ";

////////////////////////////////////////

main {
  width: 100%;
  height: 100vh;
  .main-section {
    width: 90%;

    // Header section styles starts here
    .header-section {
      height: 60px;
      nav {
        ul {
          li {
            color: #262626;
            font-size: 13px;
            margin: 0 10px;
            cursor: pointer;
          }
        }
      }
      .aside-nav {
        nav {
          i {
            margin-left: 5px;
            font-size: 14px;
          }
        }
      }
    }
    // Header section styles ends here

    // Banner section styles starts here
    .banner-section {
      width: 100%;
      height: 500px;
      .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide:nth-child(1) {
          background: #e8e8e8;
          .swiper-text {
            h1 {
              font-size: 34px;
            }
            p {
              font-size: 15px;
            }
            button {
              padding: 10px 25px;
              background: #000;
              color: #fff;
              font-size: 15px;
              cursor: pointer;
              outline: none;
              border: none;
            }
          }

          .swiper-img {
            img {
              width: auto;
              height: 400px;
              object-fit: cover;
            }
          }
        }

        .swiper-slide:nth-child(2) {
          background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWG8j8?ver=2748&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=282&s=3000&d=1125&aim=true);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .swiper-text {
            margin-top: 4rem;
            margin-left: 5rem;
            width: 100%;
            h1 {
              font-size: 34px;
            }
            p {
              font-size: 15px;
            }
            button {
              padding: 10px 25px;
              background: #000;
              color: #fff;
              font-size: 15px;
              cursor: pointer;
              outline: none;
              border: none;
            }
          }
        }

        .swiper-slide:nth-child(3) {
          .swiper-img {
            height: 40%;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .swiper-text {
            background: #e8e8e8;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            h1 {
              font-size: 20px;
            }
            p {
              margin-top: 5px;
            }
            button {
              margin-top: 20px;
              padding: 10px 25px;
              background: #000;
              color: #fff;
              font-size: 15px;
              cursor: pointer;
              outline: none;
              border: none;
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          background: #fff;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          opacity: 0;
          transition: all 0.4s ease;

          &:hover{
              box-shadow: 0 10px 10px rgba(0,0,0,0.2);
          }

          &::after {
            font-size: 15px;
            color:#000;
          }
        }

        &:hover {
          .swiper-button-prev,
          .swiper-button-next {
            opacity: 1;
          }
        }
      }
    }
    // Banner section styles ends here

    // cards section styles starts here
    .cards-section {
      .card {
        border: none;
        width: 310px;
        cursor: pointer;
        img {
          width: 100%;
          height: 200px;
          object-fit: contain;
        }
        a {
          text-decoration: none;
          color: #0067b8;
          label {
            font-weight: bold;
            position: relative;
            transition: all 0.4s ease;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              border: none;
              border-bottom: 3px solid #0067b8;
              bottom: -5px;
              left: 0;
              height: 5px;
              width: 100%;
              opacity: 0;
              transition: all 0.4s ease;
            }

            &:hover::after {
              opacity: 1;
            }

            &:hover {
              padding-right: 5px;
            }
          }
        }
      }
    }
    // Cards section styles ends here

    // Banner two section styles starts here
    .banner-two-section {
      margin-top: 50px;
      height: 500px;
      width: 100%;
      background: #f2f2f2;
      background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RWAn3f?ver=86c9&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=279&s=3000&d=1125&aim=true);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      .banner-two-text {
        margin-left: 5rem;
        h1 {
          font-size: 34px;
        }
        p {
          font-size: 15px;
        }
        button {
          label {
            cursor: pointer;
            transition: all 0.2s ease;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              background: #fff;
              opacity: 0;
            }

            &:hover::after {
              opacity: 1;
            }
          }

          width: 130px;
          padding: 10px 10px;
          background: #000;
          color: #fff;
          font-size: 15px;
          cursor: pointer;
          outline: none;
          border: none;

          &:hover {
            label {
              margin-right: 8px;
            }
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }

    .banner-two {
      height: 600px;
      padding: 50px 0;
      .imgg {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .banner-two-text {
        background: #e8e8e8;
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
          padding: 10px 0;
        }
        button {
          label {
            cursor: pointer;
            transition: all 0.2s ease;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              background: #fff;
              opacity: 0;
            }

            &:hover::after {
              opacity: 1;
            }
          }

          width: 130px;
          padding: 10px 10px;
          background: #000;
          color: #fff;
          font-size: 15px;
          cursor: pointer;
          outline: none;
          border: none;

          &:hover {
            label {
              margin-right: 8px;
            }
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }
    // Banner two section styles ends here

    // Micro response section styles starts here
    .micro-response-section {
      background: #e6e6e6;
      margin-top: 50px;
      .micro-response-text {
        h1 {
          font-size: 34px;
        }
        p {
          font-size: 15px;
        }

        a {
          color: #000;
          cursor: pointer;
          transition: all 0.2 ease;
          label {
            position: relative;
            transition: all 0.2 ease;
            &::after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              background: #000;
              opacity: 0;
              cursor: pointer;
            }
            &:hover::after {
              opacity: 1;
            }

            &:hover {
              margin-right: 5px;
            }
          }
        }
      }
    }
    // Micro response section styles ends here

    // Social icons section styles starts here
    .social-icons-section {
      ul {
        li:nth-child(2) {
          svg {
            fill: #3b5499;
          }
        }
        li:nth-child(3) {
          svg {
            fill: #8a3ab9;
          }
        }
        li:nth-child(4) {
          svg {
            fill: #4c9ad6;
          }
        }
      }
    }
    // Social icons section styles ends here
  }

  //   Footer section styles starts here
  footer {
    background: #f2f2f2;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    .footer-inner {
      width: 90%;

      .col-lg-2 {
        margin: 0;
        padding: 0;
        h6 {
          color: #616161;
          font-size: 15px;
        }
        ul {
          li {
            font-size: 11px;
            padding: 10px 0;
          }
        }
      }

      .lower-text {
        margin: 0;
        padding: 0;

        label {
          margin-left: 10px;
          font-size: 14px;
          padding: 10px 0;
        }

        h6 {
          color: #616161;
          font-size: 15px;
        }
        ul {
          li {
            font-size: 11px;
            padding: 10px 0;
          }
        }
      }
    }
  }
  //   Footer section styles starts here
}
